
Tkinter-playground/.idea/workspace.xml
DB-connect/Databasething/.idea/workspace.xml
DB-connect/.idea/workspace.xml
my_django/.idea/workspace.xml
my_django/.idea/workspace.xml
Python_basics/Playground/.idea/workspace.xml
